## todo: clarify options.  make namespace support array and possibly wildcard.
pbjc:
  # default namespace
  namespace: <vendor>:<package>

  # default output directory
  output: <dir>

  # assign an output directory per language
  language:
    php: <dir>
    json: <dir>
